.home {
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.home h2 {
  font-size: 26px;
  background-color: #ffffffc5;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.home p {
  font-size: 20px;
  max-width: 1000px;
  text-align: justify;
  background-color: #ffffffc5;
  backdrop-filter: blur(5px);
  padding: 10px;
}
