.quote {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote h2 {
  max-width: 1000px;
  width: 80%;
  font-size: 26px;
  text-align: justify;
  background-color: #ffffffc5;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}
